[default]
aws_access_key_id = {{ (bitwardenFields "item" "572d0a66-4ede-4f48-ab96-19c41c63ce17").personal_access_key_id.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "572d0a66-4ede-4f48-ab96-19c41c63ce17").personal_secret_access_key.value }}

[personal]
region = {{ (bitwardenFields "item" "572d0a66-4ede-4f48-ab96-19c41c63ce17").personal_region.value }}
aws_access_key_id = {{ (bitwardenFields "item" "572d0a66-4ede-4f48-ab96-19c41c63ce17").personal_access_key_id.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "572d0a66-4ede-4f48-ab96-19c41c63ce17").personal_secret_access_key.value }}

[two]
region = {{ (bitwardenFields "item" "bc50bb66-3df4-45f9-bd89-c02121132aaf").region.value }}
aws_access_key_id = {{ (bitwardenFields "item" "bc50bb66-3df4-45f9-bd89-c02121132aaf").access_key.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "bc50bb66-3df4-45f9-bd89-c02121132aaf").secret_access_key.value }}
