[user]
	email = {{ (bitwardenFields "item" "2252ba29-2bd8-44f0-8481-7e65c9688eb5").personal_email.value }}
	name = {{ (bitwardenFields "item" "2252ba29-2bd8-44f0-8481-7e65c9688eb5").name.value }}
	signingkey = {{ (bitwardenFields "item" "2252ba29-2bd8-44f0-8481-7e65c9688eb5").personal_signingkey.value }}

